.background {
    width: 1200px; 
    height: 1137px;
}

.singTaskView {
    margin: auto;
    height: 500px;
    width: 500px;
    background-color:rgba(224, 222, 222, 0.507); 
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.795); 
    border-radius: 10px; 
}

.name {
    text-align: center;
    padding-top: 15px;
    font-family: Verdana;
    text-shadow: 5px 5px 8px rgb(255, 255, 255);
    height: 30px;
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.795); */
}

/* styling for the text inside the About box */
.taskDetails {
    margin: auto;
    padding: 5px;
    height: 120px;
    width: 90%;
    /* THIS IS FOR CENTERING THE BOX VERY IMPORTANT RAHNHHHHHHH */
    margin: 0 auto;                                 
    border-color: rgb(255, 0, 0);
/* Uncomment this next line out to see where the boxes/borders are */
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.795);  */
    font-family: Comic Sans MS;
    font-size: 20px;
}

.taskList ul {
    text-align: center;
}
