.memberBox {
  width: 100%; 
  max-width: 1000px;       
  max-height: 720px;     
/* Centering in the box */ 
  margin: 20px auto; 
  padding: 20px;   
/*Styling member card */
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  overflow-y: auto;       
  display: flex;
  flex-direction: column;
  gap: 15px;             
  /*Container position */ 
  background-color: #f5e6e646;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  box-sizing: border-box;     
  border: 1px solid #000000;     
  background-color: #ffffff93;  
  border-radius: 4px;         
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
  padding-left: 12px;
}

.card button {
  margin-left: 10px;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
  border: none;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
}

.username {
  text-decoration: underline;
  text-align: left;
  color: #000000;
  flex-grow: 1;
  margin-left: 10px;
}