tr,td
{
    border:1px;
    border-style: solid;
    
}
td
{
    height: 50px;
    width: 50px;
    background-color: white;
}

body
{
    background-color: rgb(250, 232, 199);
    color: rgb(0, 0, 0);
}